body{
    background-color: #656565;
}
h1{
    color: white;
    font-family: sans-serif;
    border: solid 1px white;
}
.image{
    width: 500px;
    margin: 5px;
    border-radius: 12px;
}
.button{
    color: white;
    font-size: 40px;
    background-color: cyan;
    border: solid 2px cyan;
    border-radius: 15px;
    margin-left: 250px;
    
}
.button:hover{
    color: white;
    font-size: 38.5px;
    background-color: black;
    border: solid 2px black;
    border-radius: 15px;
    transition: 0.5s;
     
}